* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.expand-room-name {
  color: rgb(72, 72, 72);
  font-size: 32;
  font-weight: 500;
  line-height: 1.125em;
  margin: 0px 7px 0px 7px;
}

.expand-room-details {
  color: #767676;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375em;
  padding-top: 3px;
  margin: 0px 7px 25px 7px;
}

.grid-box {
  border: 1px solid #EBEBEB;
  margin: 7px;
}

.expand-single-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expand-room-review-container {
  width: 100%;
}

.expand-room-review-quotation {
  font-size: 48px;
  font-weight: 200;
}

.expand-room-review {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
  color: rgb(72, 72, 72);
}

.expand-host-tag {
  margin-top: 8%;
  font-size: 14px;
  font-weight: 600;
  color: #484848;
  line-height: 1.5em;
}

/* FIVE FRAME */

.five-expand-container {
  width: 54%;
  margin: 4% 23%;
  height: 1650px;
  /* background-color: lightgreen; */
}

.five-wrapper {
  display: grid;
  height: 95%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-template-areas:
    "a a a"
    "a a a"
    "a a a"
    "a a a"
    "a a a"
    "a a a"
    "b c c"
    "b c c"
    "d c c"
    "d c c"
    "e e f"
    "e e f"
    "e e f"
    "e e f"
    "e e f"
}

.fiveframe-expand-box-one {
  grid-area: a;
}

.fiveframe-expand-box-two {
  grid-area: b;
}

.fiveframe-expand-box-three {
  grid-area: c;
}

.fiveframe-expand-box-four {
  grid-area: d;
}

.fiveframe-expand-box-five {
  grid-area: f;
}

.fiveframe-expand-box-review {
  grid-area: e;
  background-color: #EBEBEB;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* FOUR FRAME */

.four-expand-container {
  width: 54%;
  margin: 4% 23%;
  height: 1250px;
  /* background-color: lightgreen; */
}

.four-wrapper {
  display: grid;
  height: 93%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-template-areas:
    "a a a"
    "a a a"
    "a a a"
    "a a a"
    "a a a"
    "a a a"
    "c c b"
    "c c b"
    "c c b"
    "c c d"
    "c c d"
    "c c d"
    "e e e"
    "e e e"
    "e e e"
}

.fourframe-expand-box-one {
  grid-area: a;
}

.fourframe-expand-box-two {
  grid-area: b;
}

.fourframe-expand-box-three {
  grid-area: c;
}

.fourframe-expand-box-four {
  grid-area: d;
}

.fourframe-expand-box-review {
  grid-area: e;
  background-color: #EBEBEB;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* THREE FRAME */

.three-expand-container {
  width: 54%;
  margin: 4% 23%;
  height: 1000px;
  /* background-color: lightgreen; */
}

.three-wrapper {
  display: grid;
  height: 92%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "a a b b"
    "a a b b"
    "a a b b"
    "c c c d"
    "c c c d"
}

.threeframe-expand-box-one {
  grid-area: a;
}

.threeframe-expand-box-two {
  grid-area: b;
}

.threeframe-expand-box-three {
  grid-area: c;
}

.threeframe-expand-box-review {
  grid-area: d;
  background-color: #EBEBEB;
  display: grid;
  justify-content: center;
  align-items: center;
}