* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

/* PICTURE PLACEHOLDER */
#image-container {
  height: 700px;
}

img {
  display: block;
  width: auto;
  height: 100%;
  float: right;
}

/* FOOTER */
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#container {
  padding: 16px 24px 40px;
  margin-bottom: -24px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.14);
}

#footer-content {
  display: table;
  width: 100%;
}

/* LOGO */
#logo-plus {
  display: table-cell;
  vertical-align: middle;
}

#logo-plus-spacing {
  margin-bottom: -6px;
  margin-right: 28px;
}

#logo-icon-plus {
  height: 36px;
  fill: rgb(145, 70, 105);
}

/* PROPERTY NAME*/
#property {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

#property-spacing {
  margin-bottom: -4px;
}

#property-name {
  text-transform: uppercase;
  word-wrap: break-word;
  font-size: 11px;
  font-weight: 700;
  /* line-height: 1.3333333333333333em; */
  line-height: 20px;
  letter-spacing: 0.08333333333333333em;
  color: #767676;
}

/* PROPERTY RATING */
#reviews {
  padding: 0px;
  border: 0px;
  cursor: pointer;
}

#star-ratings-spacing {
  vertical-align: middle;
  line-height: 21px;
  margin-right: 2px;
}

#star-ratings {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' fill='%23D8D8D8'%3E%3Cpath d='M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z'/%3E%3C/svg%3E");
  background-size: 9px 9px;
  background-repeat: space no-repeat;
  display: inline-block;
  width: 50px;
  height: 10px;
  position: relative;
}

#property-star-ratings {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' fill='%23914669'%3E%3Cpath d='M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z'/%3E%3C/svg%3E");
  background-size: 9px 9px;
  background-repeat: space no-repeat;
  display: block;
  height: 10px;
}

#reviews-spacing {
  line-height: 21px;
}

#reviews-count {
  word-wrap: break-word;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.3333333333333333em;
  color: #484848;
}

/* PRICE */
#price {
  display: table-cell;
  vertical-align: middle;
}

#price-spacing {
  white-space: nowrap;
  word-wrap: break-word;
  /* margin-top: 2px; */
  /* padding: 10px 0px; */
}

#price-info {
  line-height: 10px;
}

.price {
  word-wrap: break-word;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.375em;
  color: #484848;
}

.duration {
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375em;
  color: #484848;
}

/* BOOKING */
#book-container {
  display: table-cell;
  vertical-align: middle;
}

#book-spacing {
  margin-left: 24px;
  width: 174px;
  height: 48px;
}

/* MODAL-CLOSE BUTTON */
#modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

#modal-container {
  display: table;
  height: 100%;;
  width: 100%;
}

#modal-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 64px;
}

#modal-content {
  width: 100%;
  position: relative;
  margin: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;
  max-width: 376px;
}

#modal-spacing {
  background-color: rgb(255, 255, 255);
  padding: 24px;
}

#modal-button {
  margin-bottom: 24px;
}

#button-close {
  padding: 20px;
  margin: -20px;
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
}

#modal-close {
  height: 16px;
  width: 16px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='rgb(118, 118, 118)' %3E%3Cpath d='m23.25 24c-.19 0-.38-.07-.53-.22l-10.72-10.72-10.72 10.72c-.29.29-.77.29-1.06 0s-.29-.77 0-1.06l10.72-10.72-10.72-10.72c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l10.72 10.72 10.72-10.72c.29-.29.77-.29 1.06 0s .29.77 0 1.06l-10.72 10.72 10.72 10.72c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22'/%3E%3C/svg%3E");
}

#modal-divider {
  border-bottom: 1px solid #EBEBEB;
}

/* FORM */
#modal-book-spacing {
  margin-top: 16px;
  margin-bottom: 10px;
}

#book-dates {
  overflow-wrap: break-word;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33em;
  color: rgb(72, 72, 72);
  padding: 4px 0px 4px;
  margin: 0px;
}

/* GUESTS */
#guest-spacing {
  margin-bottom: 16px;
}

#guests {
  overflow-wrap: break-word;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33em;
  color: rgb(72, 72, 72);
  margin: 0px;
}

#guests-placeholder {
  text-align: left;
  line-height: normal;
  display: block;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 2px;
  padding: 8px;
  margin-top: 2px;
  border: 1px solid rgb(235, 235, 235);
}

#guest1 {
  margin-left: 8px;
  margin-right: 8px;
}

#guest2 {
  display: table;
  width: 100%;
}

#guestcell {
  display: table-cell;
  width: 100%;
}

.guest-label {
  font-size: 16px;
}

#down-arrow {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='m16.29 4.3a1 1 0 1 1 1.41 1.42l-8 8a1 1 0 0 1 -1.41 0l-8-8a1 1 0 1 1 1.41-1.42l7.29 7.29z'/%3E%3C/svg%3E");
  display: block;
  width: 16px;
  height: 16px;
}

#book-top-spacing {
  margin-top: 24px;
}

/* CHARGE */
#charge {
  margin-top: 8px;
  text-align: center;
  font-size: 12px;
  word-wrap: break-word;
  font-weight: 500;
  line-height: 1.3333333333333333em;
  color: #484848;
}

/* GUEST MODAL */
#guest-modal-container {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  width: 100%;
  min-width: 280px;
  text-align: left;
  margin-bottom: 16px;
  box-sizing: border-box;
  z-index: 2;
  left: 0px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 0px 16px;
}

.guest-modal-spacing {
  margin-top: 16px;
  margin-bottom: 16px;
}

.guest-modal-table {
  display: table;
  width: 100%;
  border-spacing: 0px;
}

.guest-modal-cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.guest-modal-label {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375em;
  color: #484848;
}

#guest-modal-bottom {
  margin-bottom: 16px;
}

#guest-modal-info {
  margin: 0px;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2857142857142858em;
  color: #484848;
}

#facebook-modal-container {
  position: fixed;
  z-index: 2000;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.75)
}

#facebook-modal-table {
  display: table;
  height: 100%;
  width: 100%;
}

#facebook-modal-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 64px;
}

#facebook-container {
  background-color: rgb(255, 255, 255);
  max-width: 568px;
  width: 100%;
  position: relative;
  margin: auto;
}

#facebook-spacing {
  background-color: rgb(255, 255, 255);
  padding: 32px;
}

#facebook-spacing-bottom {
  margin-bottom: 24px;
}

#facebook-close {
  padding: 20px;
  margin: -20px;
  cursor: pointer;
  background-color: transparent;
  display: block;
  border-width: 0px;
}

#facebook-close-arrow {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='m23.25 24c-.19 0-.38-.07-.53-.22l-10.72-10.72-10.72 10.72c-.29.29-.77.29-1.06 0s-.29-.77 0-1.06l10.72-10.72-10.72-10.72c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l10.72 10.72 10.72-10.72c.29-.29.77-.29 1.06 0s .29.77 0 1.06l-10.72 10.72 10.72 10.72c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22'/%3E%3C/svg%3E");
  height: 16px;
  width: 16px;
  display: block;
  fill: rgb(118, 118, 118);
}

#facebook-login-noti {
  margin-bottom: 24px;
  overflow-wrap: break-word;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25em;
  color: rgb(72, 72, 72);
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0px;
}

#login-spacing-bottom {
  margin-bottom: 24px;
}

.facebook-btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 800;
  padding-left: 22px;
  padding-right: 22px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 4px;
  background: rgb(69, 104, 178);
  border: 2px solid transparent;
}

.calendar-day {
  border: 1px solid rgb(228, 231, 231);
  color: #484848;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  width: 41px;
  height: 40px;
}

.blocked-day {
  border: 1px solid rgb(228, 231, 231);
  color: rgb(216, 216, 216);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  width: 41px;
  height: 40px;
}

.blocked-day:hover {
  cursor: default;
}

#calendar {
  border-collapse: collapse;
}

.weekdays-short {
  color: #757575;
  font-size: 11.67px;
  font-weight: normal;
}

#weekdays-header {
  line-height: 17px;
}

#calendar-container {
  padding-top: 22px;
  padding-bottom: 37px;
  display: table;
  width: 100%;
}

#current-period {
  text-align: center;
  color: #484848;
  font-size: 18px;
  vertical-align: middle;
  display: table-cell;
}

.previous-month-container {
  cursor: pointer;
  color: rgb(117, 117, 117);
  background-color: #fff;
  top: 18px;
  line-height: 0.78;
  left: 22px;
  margin: 0px;
  border: 1px solid rgb(228, 231, 231);
  border-radius: 3px;
  padding: 6px 9px;
  float: left;
}

#previous-month-arrow {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M336.2 274.5l-210.1 210h805.4c13 0 23 10 23 23s-10 23-23 23H126.1l210.1 210.1c11 11 11 21 0 32-5 5-10 7-16 7s-11-2-16-7l-249.1-249c-11-11-11-21 0-32l249.1-249.1c21-21.1 53 10.9 32 32z'/%3E%3C/svg%3E");
  height: 19px;
  width: 19px;
  fill: rgb(130, 136, 138);
}

.next-month-container {
  cursor: pointer;
  color: rgb(117, 117, 117);
  background-color: #fff;
  top: 18px;
  line-height: 0.78;
  margin: 0px;
  border: 1px solid rgb(228, 231, 231);
  border-radius: 3px;
  padding: 6px 9px;
  float: right;
}

#next-month-arrow {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M694.4 242.4l249.1 249.1c11 11 11 21 0 32L694.4 772.7c-5 5-10 7-16 7s-11-2-16-7c-11-11-11-21 0-32l210.1-210.1H67.1c-13 0-23-10-23-23s10-23 23-23h805.4L662.4 274.5c-21-21.1 11-53.1 32-32.1z'/%3E%3C/svg%3E");
  height: 19px;
  width: 19px;
  fill: rgb(130, 136, 138);
}

.active-day:hover {
  cursor: pointer;
  background-color: rgb(228, 231, 231);
}

.start-date-select {
  border: 1px solid rgb(228, 231, 231);
  background-color: rgb(119, 49, 82);
  color: rgb(255, 255, 255);
}

.start-date-select:hover {
  cursor: pointer;
  background-color: rgb(119, 49, 82);
}

.date-range-span {
  border: 1px solid rgb(228, 231, 231);
  background-color: rgb(145, 70, 105);
  color: rgb(255, 255, 255);
}

.date-range-span-selected {
  border: 1px solid rgb(228, 231, 231);
  background-color: rgb(145, 70, 105);
  color: rgb(255, 255, 255);
}

.calendar-day::selection {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

#checkout-container {
  background-color: rgb(255, 255, 255);
  display: table;
  width: 100%;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 2px;
}

#checkin-row {
  display: table-row;
}

#checkin-input {
  display: table-cell;
}

#checkin-label {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  width: 100%;
  vertical-align: middle;
  margin: 0px;
  padding: 8px;
  background: rgb(255, 255, 255);
  border: 0px;
  color: transparent;
  text-shadow: 0 0 0 rgb(72, 72, 72);
}


.checkin-label-select::placeholder {
  color: white;
  background: rgb(145, 70, 105);
  border-color: rgb(145, 70, 105);
  border-radius: 3px;
  text-indent: 5px;
}

#checkin-label:focus {
  outline: none;
}

.next-step-checkout {
  display: table-cell;
  vertical-align: middle;
  width: 24px;
}

#next-step-checkout-arrow {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='m0 12.5a.5.5 0 0 0 .5.5h21.79l-6.15 6.15a.5.5 0 1 0 .71.71l7-7v-.01a.5.5 0 0 0 .14-.35.5.5 0 0 0 -.14-.35v-.01l-7-7a .5.5 0 0 0 -.71.71l6.15 6.15h-21.79a.5.5 0 0 0 -.5.5z'/%3E%3C/svg%3E");
  height: 24px;
  width: 24px;
  fill: #484848;
}

#calendar-modal {
  outline:none;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 24px;
  width: 332px;
  margin-top: 10px; /* temp */
  box-shadow: rgba(211, 158, 158, 0.05) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
}

#calendar-modal-padding {
  padding: 0px 20px 40px;
}

