#reviews {
  margin: auto;
  padding: 0px 80px 0px 80px;
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
}

.appContainer {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 64px 0px 198px 0px;
  border-top: 1px solid #EBEBEB !important;
}


h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  display: inline-block;
  margin-bottom: 48px;
}

.review > .header{
  display: table !important;
  position: relative !important;
  flex-grow: 1;
}

.expandReview {
  color: #914669;
  cursor: pointer;
  font-weight: 600 !important;
}

.expandReview:hover {
  text-decoration: underline;
}

.review > .header > img {
  height: 48px;
  width: 48px;
  background-color: #D8D8D8 !important;
  border-radius: 50% !important;
  overflow: hidden !important;
  display: table-cell !important;
  margin-right: 16px;
}

.userName {
  display: table-cell;
  font-weight: 500;
  line-height: 1.375em !important;
  font-size: 16px;
}

.reviewAge {
  font-size: 14px;
}

.reviewHeaderContent {
  display: table-cell !important;
  line-height: 1.43 !important;
  padding: 0px 0px 24px 0px;
  vertical-align: middle !important;
}

.reviewText {
  font-size: 16px !important;
}

hr {
  opacity: 0.3;
  margin: 30px 0px 30px 0px;
}

.header > .lightBox {
  padding: 0px !important;
}

.left {
  padding-right: 5%;
  padding-bottom: 24px;
  padding-top: 24px;
  flex-basis: 45%;
  width: 45%;
}

.right {
  padding-left: 5%;
  padding-bottom: 24px;
  padding-top: 24px;
  flex-basis: 45%;
  width: 45%;
}

.fullWidth {
  width: 100% !important;
}

.allReviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  font-size: 15px;
  line-height: 1.43;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}

.review {
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
}

.review > .fullWidth {
  width: 100% !important;
  margin: 20px 0px 20px 0px;
}

#allReviewsLightBox {
  background-color: rgb(255, 255, 255) !important;
  max-width: 568px !important;
  width: 100% !important;
  position: relative !important;
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px !important;
  margin: auto !important;
  /* z-index: 999; */
  display: block;
}

.seeAllReviews {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  color: var(--color-brand-plus, #914669) !important;
  font-weight: 500;
}

.transparentBackground {
  position: fixed !important;
  /* z-index: 99 !important; */
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  overflow-y: auto !important;
  background: rgba(255, 255, 255, 0.8) !important;
  padding: 64px !important;
  display: inline-block;
}
.allReviewsExitButton {
  width: 25px;
  border-radius: 50% !important;
  overflow: hidden !important;

}

.reviewSearch {
  display: flex;
  padding: 20px;
  position: absolute;
  top: 18px;
  width: 235px;
  right: 50px;
}

.searchBox {
  background: url(../imgs/x.png) no-repeat;
  background-position: 95% 50%;
  background-size: 17px;
}


.reviewSearch > .reviewFilter {
  text-align: left !important;
  line-height: normal !important;
  width: 100% !important;
  border-radius: 2px !important;
  padding: 8px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(235, 235, 235) !important;
  width: 175px;
}

.reviewFilterSumbit {
  display: inline-block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 4px 0px 4px 12px;
}

.loadingGif {
  display: inline-block;
  margin: auto;
  width: 100px;
  text-align: center;
}